<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <H1>Weather API</H1>
    b=weather
    <form name="weather" method="post">
        <input type="text" placeholder="Enter the place name" name="place">
        <input type="submit">
    </form>
</body>
</html>