<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="holder">
            <form class="loginform">
                <h2 class="formhead">Login</h2>
                <label class="label" for="username">Username</label>
                <input id="username" class="inp" type="text" name="username">
                <label class="label" for="password">Password</label>
                <input id="password" class="inp" type="password" name="password">
                <input type="submit" value="Submit" class="form-submit">
            </form>
        </div>
    </div>
</body>
</html>